In [1]:
import pandas as pd
import numpy as np
import re as re
from pandas import ExcelWriter
from pandas import ExcelFile

<h2> Clean & combine data

In [2]:
def clean_values(df, column):
    # remove + (2,000+) and - (missing values) signs
    df[column] = df[column].map(lambda x: x.rstrip('+-N'))

    # remove , in 2,000+
    df[column] = df[column].astype(str).map(lambda x: re.sub(r'[,]', '', x))
    
    # replace empty values with NaN
    df[column] = df[column].apply(lambda x: x.strip()).replace('', np.nan)
    
    return df[column]

In [3]:
def clean_csv(name, year):    
    # upload data
    df = pd.read_csv(name, header = 1)
    
    # create new column with 11 digit tract code
    df['tract_id'] = df['Id'].str[-11:]

    # add column for year
    df['year'] = year
    
    if 'DP04' in name:
        # rename column names
        df = df.rename(index = str, 
                         columns = {'Estimate; GROSS RENT - Occupied units paying rent - Median (dollars)': 
                                    'median_rent', 
                                    'Estimate; GROSS RENT - Median (dollars)': 'median_rent',
                                    'Estimate; VALUE - Owner-occupied units - Median (dollars)': \
                                    'median_house_price',
                                    'Estimate; VALUE - Median (dollars)': 'median_house_price',
                                    'Estimate; VALUE - Owner-occupied units - $1,000,000 or more': 'over_mln',
                                    'Estimate; VALUE - $1,000,000 or more': 'over_mln',
                                    'Estimate; HOUSING OCCUPANCY - Occupied housing units': 'housing_units',
                                    'Estimate; HOUSING OCCUPANCY - Total housing units - Occupied housing units': 
                                    'housing_units',
                                    'Estimate; GROSS RENT - Occupied units paying rent - $1,500 or more': \
                                    'over_1500',
                                    'Estimate; GROSS RENT - Occupied units paying rent - $1,500 to $1,999' : \
                                    '1500-1999',
                                    'Estimate; GROSS RENT - Occupied units paying rent - $2,000 to $2,499': \
                                    'over 2000',
                                    'Estimate; GROSS RENT - Occupied units paying rent - $2,500 to $2,999': \
                                    'over 2500',
                                    'Estimate; GROSS RENT - Occupied units paying rent - $3,000 or more' : \
                                    'over 3000',
                                    'Estimate; GROSS RENT - $1,500 or more': 'over_1500',
                                    'Estimate; GROSS RENT - Occupied units paying rent' : 'paid_rented_units',
                                    'Estimate; GROSS RENT - No rent paid' : 'unpaid_rented_units',                                    
                                    'Estimate; VALUE - Owner-occupied units' : 'owned_units'
                                    })
        
        # combine paid and unpaid to get total rented units
        df['rented_units'] = df['paid_rented_units'] + df['unpaid_rented_units']
        
        # combine the over $1,500 buckets for 2016 in order to compare with the other years
        if '_16_' in name:
            df['over_1500'] = df['1500-1999'] + df['over 2000'] + df['over 2500'] + df['over 3000']
            
        else:
            df = df
            
        # remove sign (+-,) from column values so that they can be converted to numbers
        df['median_rent'] = clean_values(df, 'median_rent')
        df['median_house_price'] = clean_values(df, 'median_house_price')
        
        # add column to adjust rents in 2016, to same ceiling of 2,000 dollar
        df['median_rent_adj'] = df.apply(lambda row: 2000 if pd.to_numeric(row['median_rent']) >=2000 \
                         else row['median_rent'], axis=1) 
        
        # add column to adjust house prices in 2016, to same ceiling of 1,000,000 dollar
        df['median_hp_adj'] = df.apply(lambda row: 1000000 if pd.to_numeric(row['median_house_price']) >=1000000 \
                         else row['median_house_price'], axis=1) 
        
        # keep only needed columns
        df2 = df[['tract_id', 'year', 'median_rent', 'median_rent_adj', 'median_house_price', 'median_hp_adj', \
                  'housing_units', 'rented_units', 'owned_units', 'over_mln', 'over_1500',]]
    
    elif 'S1901' in name:
        # rename median income column 
        df = df.rename(columns = {'Households; Estimate; Median income (dollars)': 'median_income'})
        
        # remove sign (+-,) from column values so that they can be converted to numbers
        df['median_income'] = clean_values(df, 'median_income')      
        
        # (no adjustment needed as ceiling for 2016 is the same as for other years)
        
        # keep only needed columns
        df2 = df[['tract_id', 'year', 'median_income']]
    
    elif 'S0801' in name:        
        # replace cells with '-' with ''
        df = df.apply(lambda x: x.replace('-', ''))
        
        # calculate % of people who commute equal or longer than 30 minutes
        df['more_30'] = pd.to_numeric(df['Total; Estimate; TRAVEL TIME TO WORK - 30 to 34 minutes'])+ \
        pd.to_numeric(df['Total; Estimate; TRAVEL TIME TO WORK - 35 to 44 minutes']) + \
        pd.to_numeric(df['Total; Estimate; TRAVEL TIME TO WORK - 45 to 59 minutes']) + \
        pd.to_numeric(df['Total; Estimate; TRAVEL TIME TO WORK - 60 or more minutes'])
                
        # rename mean commuting column
        df = df.rename(columns = {'Total; Estimate; TRAVEL TIME TO WORK - Mean travel time to work (minutes)' : 
                                  'mean_commute',
                                  'Total; Estimate; TRAVEL TIME TO WORK - 60 or more minutes' : 'more_60'
                                 })
        
        # remove sign (+-,) from column values so that they can be converted to numbers
        df['mean_commute'] = clean_values(df, 'mean_commute')
        
        # keep only needed columns
        df2 = df[['tract_id', 'year', 'mean_commute', 'more_30', 'more_60']]
        
    elif 'B01003' in name:
        # rename population column
        df = df.rename(columns = {'Estimate; Total' : 'population'})
        
        # keep only needed columns
        df2 = df[['tract_id', 'year', 'population']]
        
    else:
        df2 = df
        
    df2 = df2.applymap(str)
    
    return df2

In [4]:
# commuting
commuting_2016 = clean_csv('ACS_16_5YR_S0801_with_ann.csv', '2016')
commuting_2013 = clean_csv('ACS_13_5YR_S0801_with_ann.csv', '2013')
commuting_2010 = clean_csv('ACS_10_5YR_S0801_with_ann.csv', '2010')

commuting = [commuting_2016, commuting_2013, commuting_2010]

# concatenate dfs
all_commuting = pd.concat(commuting, ignore_index = True)

In [5]:
# housing
housing_2016 = clean_csv('ACS_16_5YR_DP04_with_ann.csv', '2016')
housing_2013 = clean_csv('ACS_13_5YR_DP04_with_ann.csv', '2013')
housing_2010 = clean_csv('ACS_10_5YR_DP04_with_ann.csv', '2010')

housing = [housing_2016, housing_2013, housing_2010]

# concatenate dfs
all_housing = pd.concat(housing, ignore_index = True)

In [6]:
# income
income_2010 = clean_csv('ACS_10_5YR_S1901_with_ann.csv', '2010')
income_2013 = clean_csv('ACS_13_5YR_S1901_with_ann.csv', '2013')
income_2016 = clean_csv('ACS_16_5YR_S1901_with_ann.csv', '2016')

income = [income_2016, income_2013, income_2010]

# concatenate dfs
all_income = pd.concat(income, ignore_index = True)

In [7]:
# population
population_2010 = clean_csv('ACS_10_5YR_B01003_with_ann.csv', '2010')
population_2013 = clean_csv('ACS_13_5YR_B01003_with_ann.csv', '2013')
population_2016 = clean_csv('ACS_16_5YR_B01003_with_ann.csv', '2016')

population = [population_2016, population_2013, population_2010]

# concatenate dfs
all_population = pd.concat(population, ignore_index = True)

In [8]:
# combine dfs
dfs = [all_housing, all_commuting, all_income, all_population]

df_all = reduce(lambda left, right: pd.merge(left, right , on = ['tract_id', 'year']), dfs)

In [9]:
# add column with number of people per housing unit
df_all['people_per_unit'] = pd.to_numeric(df_all['population']) / pd.to_numeric(df_all['housing_units'])

In [10]:
# create df with all current tract ids
tracts = df_all[df_all.year == '2010']['tract_id'].to_frame()
#tracts = tracts.rename(columns = {'tract_id' : 'id'})

<h2> Calculate changes between 2010 and 2016 values

In [11]:
def get_changes(tables, name, column2016, column2010, id, drop):
    # merge so there is one row per tract id
    dfs = reduce(lambda left,right: pd.merge(left, right , on = [id]), tables)
    
    if drop == True:
        # replace empty cells with NaN
        dfs = dfs.apply(lambda x: x.str.strip()).replace('', np.nan)
        
        dfs = dfs.apply(lambda x: x.str.strip()).replace('nan', np.nan)
    
        # drop rows with an empty values
        dfs = dfs.dropna()
    
    # calculate change between 2016 and 2010
    if name in ['rent_change', 'price_change', 'comm_change', 'y_change', 'rent_adj_change', 'price_adj_change', 'y_adj_change']:
        dfs[name] = ((pd.to_numeric(dfs[column2016]) - pd.to_numeric(dfs[column2010])) / \
                     pd.to_numeric(dfs[column2010])) * 100
    
    else:
        dfs[name] = pd.to_numeric(dfs[column2016]) - pd.to_numeric(dfs[column2010])
    
    if name in ['rent_adj_change', 'price_adj_change', 'y_change']:
        dfs = dfs[[id, name, column2010]]
    
    else:
        dfs = dfs[[id, name]]
    
    return dfs

In [12]:
# calculate changes in values
df1 = get_changes(housing, 'rent_change', 'median_rent_x', 'median_rent', 'tract_id', True)
df2 = get_changes(housing, 'rent_adj_change', 'median_rent_adj_x', 'median_rent_adj', 'tract_id', True)
#df2 = get_changes(housing, '1500_change', 'over_1500_%_x', 'over_1500_%', 'tract_id', True)
df3 = get_changes(housing, 'price_change', 'median_house_price_x', 'median_house_price', 'tract_id', True)
df4 = get_changes(housing, 'price_adj_change', 'median_hp_adj_x', 'median_hp_adj', 'tract_id', True)
#df4 = get_changes(housing, 'mln_change', 'mln_%_x', 'mln_%', 'tract_id', True)
df5 = get_changes(commuting, 'comm_30_change', 'more_30_x', 'more_30', 'tract_id', True)
df6 = get_changes(commuting, 'comm_60_change','more_60_x', 'more_60', 'tract_id', True)
df7 = get_changes(commuting, 'comm_change', 'mean_commute_x', 'mean_commute', 'tract_id', True)
df8 = get_changes(income, 'y_change', 'median_income_x', 'median_income', 'tract_id', True)

In [13]:
# add column to show which values are the max recorded value for that variable
def ceiling(df, name, change, amount, max):
    # isolate rows that have the max amount and no change between 2010 and 2016
    dfa = df[((pd.to_numeric(df[name])) == amount) & (df[change] == 0.0)]
    
    # add column max
    dfa['max'] = max
    
    # combine dfa with original df
    dfb = df.merge(dfa[['tract_id','max']], on = 'tract_id', how = 'left')
    
    return dfb

# add for nerent, house price and income columns
df2_ = ceiling(df2, 'median_rent_adj', 'rent_adj_change', 2000, 'max_rent')
df4_ = ceiling(df4, 'median_hp_adj', 'price_adj_change', 1000000, 'max_price')
df8_ = ceiling(df8, 'median_income', 'y_change', 2500000, 'max_y')

/Users/rianne/anaconda3/envs/python2/lib/python2.7/site-packages/ipykernel/__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [14]:
# add column for low income tracts
df8_['low'] = df8_.apply(lambda row: 'low' if pd.to_numeric(row['median_income']) < 60000 \
                         else '', axis=1)

In [15]:
# list dfs
dfs = [tracts, df1, df2_, df3, df4_, df5, df6, df7, df8_] 

# join all dfs
all_changes = reduce(lambda left, right: pd.merge(left, right , on = 'tract_id', how = 'left'), dfs)

# add new columns to mother df
df_all = df_all.merge(all_changes, on = ['tract_id'], how='left')

<h2> Mapping tracts to counties</h2>

In [16]:
# uploading mapping of county ids to county names
coding = pd.read_csv('coding.csv', header = None, names = ['state_name', 'state', 'county', 'county_name', 'random'])

# add leading zeros to get a 2 digit state id and a 3 digit county id
coding['state'] = coding['state'].astype(str).str.rjust(2,'0')
coding['county'] = coding['county'].astype(str).str.rjust(3,'0')

# add column with the combination of state and county ids
coding['county_id'] = coding['state'] + coding['county']

# only keeping id and county name columns
county = coding[['county_id', 'county_name']]

In [17]:
# extact 6 digit country code
df_all['county_id'] = df_all['tract_id'].str[:5]

# merge with county mapping df
df_all = df_all.merge(county, on = 'county_id', how = 'left')

In [18]:
# create list with all county ids
county_ids = df_all.county_id.unique().tolist()
#county_ids

<h2>NEW - Mapping tracts to cities

In [19]:
# upload new tract id cities mapping from http://proximityone.com/tract_place.htm
cities_new = pd.read_csv('cities_new.csv')

# add leading 0 to tract ids
cities_new['tract_id'] = cities_new['tract_id'].astype(str).map(lambda x: '0' + x)

# get tract ids for San Francisco (faster this way)
#sf = df_all[(df_all.tract_id.str[:5] == '06075') & (df_all.year == 2016)]['tract_id'].to_frame()
sf = tracts[tracts.tract_id.str[:5] == '06075']['tract_id'].to_frame()

# add column for city name
sf['city'] = 'San Francisco'

sf = sf.reset_index(drop = True)

# combine new_cities and sf
new_cities = cities_new.append(sf, ignore_index=True)

In [20]:
# merge with city mapping df
df_all = df_all.merge(new_cities, on = 'tract_id', how = 'left')

# remove ' County' from county_name
df_all['county_name'] = df_all['county_name'].map(lambda x: x.rstrip('County'))

<h3> Tracts assigned to multiple cities

In [21]:
# find tract ids that are assigned to multiple cities
mul_cities = df_all.groupby(['tract_id'], as_index = False).count()[['tract_id','city']]

# filter out that show up more than 3 (looking at 3 years) & merge with df_all
mul_cities = (mul_cities[mul_cities.city > 3]).merge(df_all[['tract_id', 'city']], on ='tract_id', how = 'left')

# drop duplicate rows
mul_cities = mul_cities.drop_duplicates().reset_index(drop = True)

In [22]:
# combine names of cities assigned to same tract ids in column 'all_cities'
for i in range(len(mul_cities)-1):
    # combine 2 city names
    if (mul_cities.loc[i, 'city_x'] == 6) & (mul_cities.loc[i, 'tract_id'] == mul_cities.loc[i+1, 'tract_id']):
        mul_cities.loc[i, 'all_cities'] = mul_cities.loc[i, 'city_y'] + ', ' + mul_cities.loc[i+1, 'city_y']
    # combine 3 city names
    elif (mul_cities.loc[i, 'city_x'] == 9) & \
    (mul_cities.loc[i, 'tract_id'] == mul_cities.loc[i+1, 'tract_id'] == mul_cities.loc[i+2, 'tract_id']):
        mul_cities.loc[i, 'all_cities'] = mul_cities.loc[i, 'city_y'] + ', ' + mul_cities.loc[i+1, 'city_y'] + ', ' + mul_cities.loc[i+2, 'city_y'] 
    # combine 4 city names
    elif (mul_cities.loc[i, 'city_x'] == 12) & (mul_cities.loc[i, 'tract_id'] == mul_cities.loc[i+1, 'tract_id'] == mul_cities.loc[i+2, 'tract_id'] == mul_cities.loc[i+3, 'tract_id']):
        mul_cities.loc[i, 'all_cities'] = mul_cities.loc[i, 'city_y'] + ', ' + mul_cities.loc[i+1, 'city_y'] + ', ' + mul_cities.loc[i+2, 'city_y'] + ', ' + mul_cities.loc[i+3, 'city_y']
    else:
        mul_cities.loc[i, 'all_cities'] = ''
    
        
# keep only rows that have values in the 'all_cities' column
mul_cities =  mul_cities[mul_cities.all_cities != '']
mul_cities.dropna(axis = 0, inplace = True)

      tract_id  city_x     city_y            all_cities
0  06001409300       6    Oakland  Oakland, San Leandro
2  06001438000       6    Hayward   Hayward, Union City
4  06001450601       6    Hayward   Hayward, Pleasanton
6  06001450752       6     Dublin     Dublin, Livermore
8  06013303102       6  Brentwood     Brentwood, Oakley

In [23]:
df_all = df_all.merge(mul_cities[['tract_id', 'all_cities']], on ='tract_id', how = 'left')

<h2> Find tract ids from lat/lng coordinates

In [24]:
# api from https://geo.fcc.gov/api/census/
# code based on https://pypkg.com/pypi/fcc/f/fcc/census_block_conversions.py
import requests
import json

def census_block(latitude, longitude):
    '''Get the FCC API response in the specified text format.'''
    base_url = 'https://geo.fcc.gov/api/census/area?format=json&{lat}{lng}'


    parameters = {
        'lat': 'lat=' + str(latitude),
        'lng': '&lon=' + str(longitude)
    }
    
    data = requests.get(base_url.format(**parameters)).text

    return data

def census_block_dict(latitude, longitude):
    '''Get the FCC API response as a Python dictionary.'''
    return json.loads(census_block(latitude, longitude))


def census_block_fips(latitude, longitude):
    '''
    Get only the census block FIPS code.
    Only return the first if the location corresponds to more than one code.
    '''
    return census_block_dict(latitude, longitude)['results'][0]['block_fips']

<h2> Cities

In [ ]:
# read csv with largest cities with their population in CA
df = pd.read_csv('ca_cities.csv')

In [ ]:
# add type column
df['type'] = 'city'
df.head()

In [ ]:
# create column with census block id in df
df['GEOID'] = df.apply(lambda x: census_block_fips(x['lat'], x['long']), axis=1)

# get 11 digit tract id
df['GEOID'] = df['GEOID'].str[:11]

# get 5 digit county id
df['county_id'] = df['GEOID'].str[:5]

In [ ]:
df['name'] = df['name'].astype(str).map(lambda x: x.rstrip(' CA'))

In [ ]:
cities = df[['name', 'lat','lng','GEOID', 'pop','county_id', 'type']]

cities = cities.merge(coding, on = 'county_id', how = 'left')

cities['county_name'] = cities['county_name'].astype(str).map(lambda x: x.rstrip('County'))

cities

In [ ]:
# upload centers of countries in order to combine them with cities
county_coord = pd.read_csv('county_coord.csv')

# add county ids
county_ids_list = ['06001', '06013', '06041', '06055', '06075', '06081', '06085', '06095', '06097'] 
ids = pd.Series(county_ids_list)
county_coord = county_coord.assign(county_id = ids)

In [ ]:
# only get cities in the SF Bay area
cities = cities.loc[cities['county_id'].isin(county_ids_list)]

# combine city and county lat/lng coordinates
cities_counties = pd.concat([county_coord, cities], ignore_index = True)
cities_counties.head()

In [ ]:
writer = ExcelWriter('cities_counties.xls')
cities_counties.to_excel(writer)
writer.save()

<h2> Companies

In [ ]:
# upload company addresses in the SF Bay area from Google spreadsheet
companies = pd.read_csv('https://docs.google.com/spreadsheets/d/' +
                        '1xaDnlKJiUduQCz7g8SDJIBRTtOgHPtEJyy7RqUtfZyM/' +
                        'export?gid=0&format=csv')

In [ ]:
def coordinates(address):
    base_url = 'https://maps.googleapis.com/maps/api/geocode/json?{address}&key=AIzaSyBuNCslUVUdtRDx5kITaEvbb2Hf_wuQgVQ'

    parameters = {'address': 'address=' + str(address)}
    
    data = requests.get(base_url.format(**parameters)).text
    
    # create python dictionary
    dictionary = json.loads(data)
    
    # extract coordinates
    coordinates = dictionary['results'][0]['geometry']['location']
    return coordinates

def lat_coord(address):
    lat = coordinates(address)['lat']
    return lat
    
def lng_coord(address):
    lng = coordinates(address)['lng']
    return lng

In [ ]:
# add column with lat coordinates
companies['lat'] = companies.apply(lambda x: 
                                   lat_coord(x['address']), axis=1)

# add column with lng coordinates
companies['lng'] = companies.apply(lambda x: 
                                   lng_coord(x['address']), axis=1)

In [ ]:
# create column with census block id 
companies['GEOID'] = companies.apply(lambda x: 
                                     census_block_fips(x['lat'], x['lng']),
                                     axis=1)

# get 11 digit census tract
companies['GEOID'] = companies['GEOID'].str[:11]

In [ ]:
# drop address column
companies.drop('address', axis = 1, inplace = True)

# insert pop column (in order to be able to union in Tableau)
#companies.insert(1, 'pop', 0)

# add type column
companies['type'] = 'company'

In [ ]:
def write_to_excel_2(df1, df2, name_xls, name1, name2):
    writer = ExcelWriter(name_xls)
    df1.to_excel(writer, sheet_name = name1)
    df2.to_excel(writer, sheet_name = name2)
    writer.save()

In [ ]:
write_to_excel_2(df, companies, 'cities_companies.xls', 'cities', 'companies')

<h2> Bart stations

In [25]:
import json
import requests
import pandas as pd

url = 'https://api.bart.gov/api/stn.aspx?cmd=stns&key=MW9S-E7SL-26DU-VV8V&json=y'

data = requests.get(url).text

bart = json.loads(data)

stations = bart['root']['stations']['station']

list_stations = []
for station in stations:
    location = [station['name'],station['gtfs_longitude'],station['gtfs_latitude']]
    list_stations.append(location)
    
df = pd.DataFrame(list_stations, columns= ['name', 'long', 'lat'])
df['type'] = 'bart'

<h2>Caltrain stations

In [28]:
# caltrain locations from http://www.caltrain.com/developer.html
train = pd.read_csv('caltrain_stops.txt')

# keep only one instance per station
train = train[train.stop_id.astype(str).str[-1:] == '1']

# remove Caltrain from the names
train['stop_name'] = train.stop_name.str.split(' Caltrain').str.get(0)

# only keep needed columns
train = train[['stop_name', 'stop_lat', 'stop_lon']]

# rename columns
train = train.rename(columns={'stop_name':'name', 'stop_lat': 'lat', 'stop_lon': 'long'})

# change type so that it is the same as the bart data
#train['lat'] = train['lat'].astype(object)
#train['long'] = train['long'].astype(object)

# add column for type
train['type'] = 'caltrain'

train = train.reset_index(drop = True)

In [29]:
# combine bart and caltrain data
transport = pd.concat([train,df], ignore_index=True)

       lat     long                 name      type
0  37.7764 -122.395        San Francisco  caltrain
1  37.7576 -122.392              22nd St  caltrain
2  37.7095 -122.402             Bayshore  caltrain
3  37.6559 -122.405  South San Francisco  caltrain
4  37.6311 -122.412            San Bruno  caltrain

In [30]:
# create column with census block id in df
transport['GEOID'] = transport.apply(lambda x: census_block_fips(x['lat'], x['long']), axis=1)

# get 11 digit tract id
transport['tract_id'] = transport['GEOID'].str[:11]

In [31]:
# combine with df_all
df_all = df_all.merge(transport[['lat', 'long', 'name', 'type', 'tract_id']], on = 'tract_id', how = 'left')

In [32]:
df_all.head()

,tract_id,year,median_rent,median_rent_adj_x,median_house_price,median_hp_adj_x,housing_units,rented_units,owned_units,over_mln,...,max,low,county_id,county_name,city,all_cities,lat,long,name,type
0,06001400100,2016,3202,2000,1074100,1000000,1292,128,1164,665,...,NaN,,06001,Alameda,Oakland,NaN,NaN,NaN,NaN,NaN
1,06001400200,2016,1770,1770,978900,978900,813,282,531,253,...,NaN,,06001,Alameda,Oakland,NaN,NaN,NaN,NaN,NaN
2,06001400300,2016,1208,1208,912700,912700,2439,1303,1136,443,...,NaN,low,06001,Alameda,Oakland,NaN,37.844702,-122.251371,Rockridge,bart
3,06001400400,2016,1584,1584,848900,848900,1798,1090,708,189,...,NaN,,06001,Alameda,Oakland,NaN,NaN,NaN,NaN,NaN
4,06001400500,2016,1438,1438,683500,683500,1643,1034,609,75,...,NaN,low,06001,Alameda,Oakland,NaN,NaN,NaN,NaN,NaN

In [33]:
# write to Excel as we need trailing 0s in tract ids in order to join with geo data in Tableau
writer = ExcelWriter('all_new.xls')
df_all.to_excel(writer, sheet_name = 'all')
writer.save()

<h2> County data

In [ ]:
def county(file, file2, year):
    # load breakdown rent data
    df = pd.read_csv(file, header = 1)
    
    # load median rent data
    df_median = pd.read_csv(file2, header = 1)
    
    # combine dataframes
    #df = pd.concat([df, df_median['Estimate; Median gross rent']], axis =1)
    df = df.merge(df_median, on = ['Id', 'Id2', 'Geography'], how = 'left')
    
    # isolate 5 digit country code
    #df['Id'] = df.Id.str.slice(9,14)
    
    # remove 'Estimate;' from column names
    df2 = df.iloc[0:9 , 3:]
    df2 = df2.rename(columns={col: col.split(';')[1] for col in df2.columns})
    
    # remove 'With cash rent: -' from column names
    df3 = df2.iloc[0:9, 2:(len(df2.columns)-2)]
    df3 = df2.rename(columns={col: col.split(': -')[1] for col in df3.columns})
    
    # remove California and country from the names
    df['Geography'] = df.Geography.str.split(' County,').str.get(0)
    
    # isolate county id and name columns
    df = df.iloc[0:9, [0,2]]
    
    # merge cleaned colum names with county id column
    df_county = pd.concat([df, df3], axis = 1)  
    
    # add year
    df_county['year'] = year
    
    return df_county

In [ ]:
county_2016 = county('ACS_16_5YR_B25063_with_ann.csv', 'ACS_16_5YR_B25064_with_ann.csv', '2016')
county_2013 = county('ACS_13_5YR_B25063_with_ann.csv', 'ACS_13_5YR_B25064_with_ann.csv', '2013')
county_2010 = county('ACS_10_5YR_B25063_with_ann.csv', 'ACS_10_5YR_B25064_with_ann.csv', '2010')

In [ ]:
# combine dfs
counties_list = [county_2016, county_2013, county_2010]

# concatenate dfs
counties = pd.concat(counties_list, ignore_index = True)

# calculate %-change in median rent between 2010 and 2016
changes = get_changes(counties_list, 'rent_change', ' Median gross rent_x', ' Median gross rent', 'Id', False)

# add new columns to all_county
counties = counties.merge(changes, on = ['Id'], how='left')

# only keep needed columns
counties = counties[['Geography', 'Id', ' Median gross rent', 'rent_change', 'year']]

# only keep rows for 2016
counties = counties[counties.year == '2016']

<h2>NEW - Median rent and median income for the US, state of CA and all counties in the US

In [ ]:
# from http://code.activestate.com/recipes/577305-python-dictionary-of-us-states-and-territories/
states = {
        'AK': 'Alaska','AL': 'Alabama','AR': 'Arkansas','AS': 'American Samoa','AZ': 'Arizona','CA': 'California',
        'CO': 'Colorado','CT': 'Connecticut','DC': 'District of Columbia','DE': 'Delaware','FL': 'Florida',
        'GA': 'Georgia','GU': 'Guam','HI': 'Hawaii','IA': 'Iowa','ID': 'Idaho','IL': 'Illinois', 'IN': 'Indiana',
        'KS': 'Kansas','KY': 'Kentucky','LA': 'Louisiana','MA': 'Massachusetts','MD': 'Maryland','ME': 'Maine',
        'MI': 'Michigan','MN': 'Minnesota','MO': 'Missouri','MP': 'Northern Mariana Islands','MS': 'Mississippi',
        'MT': 'Montana','NA': 'National','NC': 'North Carolina','ND': 'North Dakota','NE': 'Nebraska',
        'NH': 'New Hampshire','NJ': 'New Jersey','NM': 'New Mexico','NV': 'Nevada','NY': 'New York',
        'OH': 'Ohio','OK': 'Oklahoma','OR': 'Oregon','PA': 'Pennsylvania','PR': 'Puerto Rico','RI': 'Rhode Island',
        'SC': 'South Carolina','SD': 'South Dakota','TN': 'Tennessee','TX': 'Texas','UT': 'Utah','VA': 'Virginia',
        'VI': 'Virgin Islands','VT': 'Vermont','WA': 'Washington','WI': 'Wisconsin','WV': 'West Virginia',
        'WY': 'Wyoming'
         }

# create df
states_df = pd.DataFrame(states.items(), columns = ['state_code', 'state_name'])

# list with county ids
county_ids_list = ['06001', '06013', '06041', '06055', '06075', '06081', '06085', '06095', '06097']

In [ ]:
import pandas as pd
import numpy as np

# import median rent per county in 2016
rent_county = pd.read_csv('all_us_counties.csv', header = 1)

# replace '-' with 0
rent_county = rent_county.apply(lambda x: x.replace('-', 0))

# import median income per county in 2016
income_county = pd.read_csv('all_income.csv', header = 1)

# combine dfs
all_county = rent_county.merge(income_county, on = ['Id', 'Id2', 'Geography'], how = 'left')

# split Geography column in county name and state
split = all_county['Geography'].str.split(', ', expand=True)

# name new columns
split.columns = [['county_name', 'state']]

# add columns to rest of df
all_county = pd.concat([all_county, split], axis=1)

# remove 'County' from county name
all_county['county_name'] = all_county['county_name'].str.split(' County').str.get(0)

# replace full state name with 2 letter abbreviation
all_county = all_county.merge(states_df, left_on = 'state', right_on = 'state_name', how = 'left')

# merge county name with state abbreviation
all_county['name'] = all_county['county_name'] + ', '+ all_county['state_code']

# rename columns
all_county = all_county.rename(index = str, 
                               columns = {'Estimate; Median gross rent' : 'median_rent',
                                          'Median income (dollars); Estimate; Households' : 'median_income'})

# add marker for SF Bay area counties
all_county['sfba'] = all_county.apply(lambda row: 'sfba' if row['Id'][-5:] in county_ids_list else '', axis=1)

# drop colums that are not longer needed
all_county = all_county[['Id','median_rent', 'median_income', 'state_code', 'name', 'sfba']]

In [ ]:
# change median rent to integer
all_county['median_rent'] = all_county['median_rent'].astype('int64')

# add rank based on median rent
all_county['rank_rent'] = all_county['median_rent'].rank(ascending=False, method = 'first')
all_county['rank_income'] = all_county['median_income'].rank(ascending=False, method = 'first')

In [ ]:
# merge all_county with counties
combined = all_county.merge(counties[['Id', 'rent_change']], on = 'Id', how = 'left')

In [ ]:
# create df with data for the state of California and the United States in total
df = pd.DataFrame([[63783, 1297, 13.251962, 'California'], \
                   [55322, 949, 12.841855, 'United States']], \
                  columns = ['median_income', 'median_rent', 'rent_change', 'name'])

# combine county data with CA and US data
combined = combined.append(df)

In [ ]:
# add type (country, state (California), county (California) or sfba (county in SF bay area) othwerwise county
combined['type'] = combined.apply(lambda row: 'state' if row['name'] == 'California' \
                      else ('country' if row['name'] == 'United States' \
                            else ('sfba' if row['sfba'] == 'sfba' \
                                  else 'county')), axis = 1)

In [ ]:
# export data to csv
combined.to_csv('all_counties.csv')